@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,800');
/*font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;*/


body{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300px;
	color: #262626;
}
p {
	line-height: 27px;
}
h2 {
	font-size: 90px;
}
a {
	color: #262626;
	text-decoration: none;
}
.ba-btn {
	display: block;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	width: 200px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #fff;
	border: 1px solid transparent;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}
/* HEADER */
.ba-header {
	background: #faf9fb url(../img/img.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 50px;

	display: flex;
}
.ba-header__container {
	position: relative;
	height: 90vh;
	width: 100%;
}
.ba-btn--header {
	background: #ff6033;
}
.ba-btn--header:hover {
	border: 1px solid #ff6033;
	background: transparent;
	color: #ff6033;
}

 /* HEADER TOP */

.ba-logo img:hover {
	transform: scale(1.3) rotate(5deg);
	transition: transform .3s ease-in;
}
.ba-header__nav {
	padding-left: 0;
	list-style: none;
	margin: 0;
	height: 56px;
	line-height: 56px;
	text-align: right;
}
.ba-header__item {
	display: inline-block;
}
.ba-header__item:not(:first-child) {
	margin-left: 30px;
}
.ba-header__link {
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	letter-spacing: -0.01em;
}
.ba-header__link:hover:before, .ba-active:before {
	content: "";
	display: block;
	background: #ff6033;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	top: -7px;
}
/* HEADER MAIN */
.ba-header__main {
	position: absolute;
	top: calc(50% - 130px);
	left: 15px;
}
.ba-header__title {
	font-size: 60px;
	font-weight: 800;
	margin: 0 0 15px;
}
.ba-header__text {
	margin: 0 0 25px;
}
.ba-scroll {
	position: absolute;
	left: calc(50% - 12px);
	bottom: 20px;
}
.ba-scroll:hover {
	transform: scale(1.2);
	transition: transform .3s ease-in;
}
/* ABOUT */
.ba-about {
	background: #00baba;
	color: #fff;
	padding: 66px 0;
}
.ba-about__title {
	margin:  97px 0 8px 70px;
}
.ba-about__text {
	margin: 0 0 10px 70px;
}
/* SERVICES */
.ba-services {
	background: #70bfff;
	padding-top: 102px;
	padding-bottom: 150px;
}
.ba-servises__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 460px;
	margin-top: 77px;
}
.ba-services__item {
	display: flex;
	align-items: center;
	width: 400px;
	height: 100px;
	background: #fff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-services__part1 {
	width: 300px;
	text-align: center;
	margin: 0;
	/*border-right: 1px solid rgb(185, 185, 185);*/
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
}
.ba-services__part2 {
	width: 55px;
	height: 55px;
	margin: auto;
}
.ba-line {
	width: 1px;
	height: 100px;
	background: rgb(185, 185, 185);
}
.ba-services__item:hover{
	color: #fff;
	background-color: #ff6033;
}
.ba-services__item:hover .ba-services__part2 {
	fill: #fff;
}
.ba-services__img {
	float: right;
}
.ba-services__title {
	color: #fff;
	line-height: 90px;
	position: absolute;
	top: 27%;
	left: 7%;
}

/* GALLERY */
.ba-gallery {
	background: #ffe92f;
	padding: 84px 0 120px;
}
.ba-gallery__grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(210px, auto) minmax(auto, 260px) minmax(auto, 260px) minmax(auto, 400px) 1fr;
	font-size: 0;
	grid-gap: 30px;
	grid-template-areas: 
	". . . g-text g-text g-text g-text g-text g-text . . ."
	"g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-two g-img-two g-img-two g-img-two"
	"g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-one g-img-three g-img-three g-img-three g-img-three"
	"g-img-four g-img-four g-img-four g-img-four g-img-four g-img-four g-img-five g-img-five g-img-five g-img-five g-img-five g-img-five"
	"g-btn g-btn g-btn g-btn g-btn g-btn g-btn g-btn g-btn g-btn g-btn g-btn";
}
.ba-gallery__grid a {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery__title {
	margin:  0 0 22px;
	font-size: 90px;
}
.ba-gallery__about {
	margin: 0 0 11px;
}
.ba-gallery__text {
	grid-area: g-text;
	text-align: center;
	font-size: 17px;
}
[class*="ba-gellery__link"] {
	position: relative;
	overflow: hidden;
}
.ba-gellery__link1 {
	grid-area: g-img-one;
}
.ba-gellery__link2 {
	grid-area: g-img-two;
	
}
.ba-gellery__link3 {
	grid-area: g-img-three;
}
.ba-gellery__link4 {
	grid-area: g-img-four;
}
.ba-gellery__link5 {
	grid-area: g-img-five;
}
.ba-gallery__img {
	min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.ba-btn--gallery {
	background: #5585a2;
	margin-top: 20px;
	grid-area: g-btn;
	justify-self: center;
}
.ba-btn--gallery:hover {
	background: #fff;
	color: #5585a2;
	border: 1px solid #5585a2;
}

/* SUBSCRIBE */ 
.ba-subscribe {
	padding: 140px 0 163px;
	background: url(../img/form-bg.jpg);
	background-size: cover; 
}
.ba-subscribe__grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 21px;
	grid-template-areas:
	"s-title s-title s-title s-title . . . . . . . ."
	"s-text s-text s-text s-text s-text s-text . . . . . ."
	"s-email s-email s-email s-email s-email s-email s-btn s-btn . . . ."; 
}
.ba-subscribe__title {
	grid-area: s-title;
	margin: 0;
	font-size: 40px;
	line-height: 40px;
}
.ba-subscriba__text {
	grid-area: s-text;
	margin: 0 0 6px;
}
.ba-subscribe__input {
	grid-area: s-email;
	border: 1px solid #262626;
	margin-right: 5px;
	padding-left: 15px;
	height: 55px;
	line-height: 53px;
	outline: none;
}
.ba-subscribe__input::-webkit-input-placeholder {
	color: rgba(38, 38, 38, .5);
	font-size: 15px;
}
.ba-subscribe__input::-moz-placeholder {
	color: rgba(38, 38, 38, .5);
	font-size: 15px;
}
.ba-subscribe__input:-moz-placeholder {
	color: rgba(38, 38, 38, .5);
	font-size: 15px;
}
.ba-subscribe__input:-ms-input-placeholder {
	color: rgba(38, 38, 38, .5);
	font-size: 15px;
}
.ba-btn--subscribe {
	grid-area: s-btn;
	background: #96b92c;
	width: 170px;
	margin-left: 4px;
	letter-spacing: -0.03em;
}
.ba-btn--subscribe:hover {
	border: 1px solid #96b92c;
	background: transparent;
	color: #96b92c;
}
/* BLOG */
.ba-blog {
	background: #b07cf7;
	color: #fff;
	text-align: center;
	padding: 83px 0 120px;
}
.ba-blog__title {
	margin: 0 0 25px;
}
.ba-blog__text {
	margin: 0 auto 28px;
	max-width: 570px;
	line-height: 25px;
}
.ba-blog__gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.ba-blog__photo {
	flex-basis: 370px;
	font-size: 0;
	position: relative;
	margin: 15px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-blog__photo:hover .ba-blog__item {
	visibility: visible;
	transition: ease-in .5s;
}
.ba-blog__link {
	color: #fff;
}
.ba-blog__item {
	visibility: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.91) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.91)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.91) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.91) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.91) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.ba-blog__img {
	width: 100%;
}
.ba-blog__date {
	border-radius: 5px;
	background-color:  rgba(38, 38, 38, 0.5);
	width: 60px;
	height: 60px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.ba-blog__date1 {
	font-size: 32px;
	margin: 3px 0 0;
	font-weight: 700;
}
.ba-blog__date2 {
	font-size: 21px;
	margin: 1px;
	font-weight: 700;
	text-transform: uppercase;
}
.ba-blog__ph-title {
	font-size: 20px;
	text-align: left;
	margin: 0;
	position: absolute;
	line-height: 25px;
	left: 20px;
	bottom: 55px;
}
.ba-blog__autor {
	font-size: 13px;
	text-align: left;
	margin: 0;
	position: absolute;
	left: 20px;
	bottom: 17px;
}
.ba-btn--blog {
	background: #f72b3b;
	margin: 35px auto 0;
}
.ba-btn--blog:hover {
	color: #f72b3b;
	background: #fff;
	border: 1px solid #f72b3b;
}

/* CONTACT */
.ba-contact {
	background: url(../img/ba-contact.jpg);
	background-size: cover;
	padding: 82px 0 101px;
}
.ba-contact__title {
	margin: 0 0 22px;
	text-align: center;
}
.ba-contact__text {
	margin: 0 415px 40px;
	text-align: center;
}
input[class*="ba-contact__"], textarea {
	width: 500px;
	padding-left: 15px;
	margin-bottom: 15px;
	background: rgba(0, 196, 196, .5);
	border: none;
	border-left: 5px solid transparent;
	outline: none;
	color: #355b82;
}
input[class*="ba-contact__"]:focus, textarea:focus {
	background:  rgba(0, 196, 196, 1);
	border-left: 5px solid #355b82;
}
input[class*="ba-contact__"] {
	height: 50px;
	line-height: 50px;
}
textarea {
	height: 250px;
	padding-top: 13px;
	resize: none;
}
input[class*="ba-contact__"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
	color: rgba(250, 250, 250, .7);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:focus::-webkit-input-placeholder, 
textarea:focus::-webkit-input-placeholder {
	font-weight: 700;
	color: rgba(250, 250, 250, 1);
	line-height: 25px;
}
input[class*="ba-contact__"]::-moz-placeholder, 
textarea::-moz-placeholder {
	color: rgba(250, 250, 250, .7);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:focus::-moz-placeholder, 
textarea:focus::-moz-placeholder {
	color: rgba(250, 250, 250, 1);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:-moz-placeholder, 
textarea:-moz-placeholder {
	color: rgba(250, 250, 250, .7);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:focus:-moz-placeholder, 
textarea:focus:-moz-placeholder {
	color: rgba(250, 250, 250, 1);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
	color: rgba(250, 250, 250, .7);
	font-size: 15px;
	line-height: 25px;
}
input[class*="ba-contact__"]:focus:-ms-input-placeholder, 
textarea:focus:-ms-input-placeholder {
	color: rgba(250, 250, 250, 1);
	font-size: 15px;
	line-height: 25px;
}

.ba-contact__form-title {
	margin: 0;
	padding-left: 70px;
	text-transform: uppercase;
	font-size: 16px;
}
.ba-contact__form-text {
	margin: 0 0 14px;
	padding-left: 70px;
	font-size: 20px;
}
.ba-footer {
	background: #262626;
	color: #b9b9b9;
	height: 90px;
}
.ba-footer__left {
	line-height: 90px;
	margin: 0;
	font-size: 16px;
}
.ba-footer__center {
	margin: 32px 153px 0;
}
.ba-footer__center:hover {
	transform: scale(1.3) rotate(5deg);
	transition: transform .3s ease-in;
}
.ba-footer__right {
	float: right;
	line-height: 90px;
	margin: 0;
	font-size: 15px;
}
.ba-footer__link {
	font-weight: 700;
	color: #ff2b58;
}
.ba-footer__link:hover {
	text-decoration: underline;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
